/* @import url("./_type/modal__container_type_avatar.css");
@import url("./_type/modal__container_type_delete.css"); */

.modal__container {
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  max-width: 430px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 425px) {
  .modal__container {
    width: calc(100% - 38px);
    max-width: 282px;
  }
}
