.profile__edit {
  background: url(../../../images/editbutton.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ffffff;
  cursor: pointer;
  display: flex;
  height: 24px;
  padding: 0px 0px 0px 0px;
  max-width: 24px;
  width: 100%;
}

.profile__edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
  .profile__edit {
    width: 18px;
    height: 18px;
  }
}
