.modal__form-submit {
  background-color: #000000;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  height: 50px;
  width: 358px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
}

.modal__form-submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1020px) {
  .modal__form-submit {
    height: 46px;
    width: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
