@import url("./__author/footer__author.css");

.footer {
  margin: 0px auto 0px auto;
  padding: 68px 0px 60px 0px;
  max-width: 880px;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: calc(100% - 38px);
    padding: 50px 0px 36px 0px;
  }
}
