.profile__content {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  max-width: 415px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .profile__content {
    margin: 0px auto 36px auto;
  }
}
